@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
*{
  margin: 10px;
  padding: 20px;
}
body{
  background: #ffff;
  color: black;
  font-family:'Times New Roman', Times, serif;
  font-weight: 300;
}
.wrapper{
  width: 1280px;
  margin: 50px auto; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header .logo{
  font-weight: 600;
  font-size: 40px;
}

header .presentation{
  margin: 50px 0;
  background: url('./img/fon1.jpg');
    width: 900px;
  height: 500px;
}

